/* Fonts */
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* Header */
.h-bg{
    background-image: url('../Assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    width: 1440px auto;
    height: 698px;
    margin-bottom: 200px;
}

/* Logo */
.logo {
    font-weight: bold;
    color: #4E47FF;
    font-size: 34px;
}

/* Button Design */
.button-design {
    background-color: #4E47FF;
    border-color: transparent;
    padding: 12px 36px;
    border-radius: 10px;
}

.anchor {
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 16px;
}

/* Nav */
nav {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 158px;
    background-color: #ffffff00;
}
/* Banner */
.banner {
    text-align: center;
    margin-bottom: px;
}
.banner-text{
    font-weight: bold;
    font-size: 65px;
}

/* main text style */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    margin: 0px 0px 0px;
}
.sub-title{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    
}
.action{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 116px;
}
.welcomeimg{
    width:403px;
    height: 328px;
    border-radius: 48px;
}

/* Activity */
.activity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 158px;
}
.ac-font{
    font-weight: bold;
    color: #4E47FF;
    font-size: 50px;
    margin: 0px 0px;
}
.ac-font-sub{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0px 0px;
}
.a-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.users{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* gap:10px; */
    width: 1140px;
    height: 306px;
    background-color:rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    gap: 0px;
}
.users-header{
    margin-bottom: 0px;
}
.action-text{
    margin-top: 23px;
    margin-bottom: 23px;
    padding-right: 170px;
    width: 517px;
    height: 203px;
}


